---
- hosts: tag_Type_webserver

  vars_files:
    - ./vars/vars.yml
    - ./vars/deploy_vars.yml
    - ./vars/deploy_vault.yml

  pre_tasks:
    - name: Update APT package manager repositories cache
      become: true
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Install aptitude
      become: true
      apt:
        name: aptitude
        state: latest

    - name: Create project directory
      become: true
      file:
        path: '{{ project_deploy_dir }}'
        state: directory
        owner: '{{ ansible_user }}'
        group: '{{ ansible_user }}'
        mode: 0775

  roles:
    - nginx
    - role: DavidWittman.redis
      become: true

  tasks:
    - ping: ~

    - name: Install cowsay - it's probably important
      become: true
      apt:
        name: cowsay

    - name: Install low-level utilities
      become: true
      apt:
        name: "{{ item }}"
      with_items:
        - zip
        - unzip

    - name: Install Git VCS
      become: true
      apt:
        name: git
        state: latest

    - name: Install MySQL DB server
      become: true
      apt:
        name: mysql-server
        state: latest

    - name: 'Get {{ database_user }}@{{ database_host_name }} user'
      become: true
      become_method: sudo
      shell: |
        mysql -u {{ database_user }} -NBe 'SELECT plugin FROM mysql.user WHERE Host="{{ database_host_name }}" AND User = "{{ database_user }}"'
      failed_when: no
      changed_when: no
      register: mysql_plugin_output

    - debug:
        var: mysql_plugin_output

    - name: 'Set authentication method for user {{ database_user }} to mysql_native_password'
      become: true
      become_method: sudo
      shell: |
        mysql -u {{ database_user }} -NBe 'USE mysql; UPDATE user SET plugin="mysql_native_password" WHERE User="{{ database_user }}"; FLUSH PRIVILEGES;'
      when: 'mysql_plugin_output.stdout != "mysql_native_password"'

    - name: Add PHP 7 PPA repository
      become: true
      apt_repository:
        repo: 'ppa:ondrej/php'

    - name: Install PHP packages
      become: true
      apt:
        name: "{{ item }}"
        state: latest
      with_items:
        - php7.1-cli
        - php7.1-curl
        - php7.1-fpm
        - php7.1-intl
        - php7.1-mysql
        - php7.1-xml
      notify: Restart PHP-FPM

    - name: Set date.timezone for CLI
      become: true
      ini_file:
        path: /etc/php/7.1/cli/php.ini
        section: Date
        option: date.timezone
        value: UTC

    - name: Set date.timezone for FPM
      become: true
      ini_file:
        path: /etc/php/7.1/fpm/php.ini
        section: Date
        option: date.timezone
        value: UTC
      notify: Restart PHP-FPM

    - name: Check for Composer
      stat:
        path: /usr/local/bin/composer
      register: composer_stat

    - name: Download Composer
      script: scripts/install_composer.sh
      when: not composer_stat.stat.exists

    - name: Move Composer globally
      become: true
      command: mv composer.phar /usr/local/bin/composer
      when: not composer_stat.stat.exists

    - name: Set permissions on Composer
      become: true
      file:
        path: /usr/local/bin/composer
        mode: "a+x"

    - name: Make sure Composer is at its latest version
      composer:
        working_dir: "/home/{{ ansible_user }}"
        command: self-update
      register: composer_self_update
      changed_when: "'You are already using composer version' not in composer_self_update.stdout"
      #changed_when: "not composer_self_update.stdout|search('You are already using composer version')"

    # Yarn
    - name: Add Yarn APT key
      become: true
      apt_key:
        url: 'https://dl.yarnpkg.com/debian/pubkey.gpg'
        state: present

    - name: Add Yarn to the source lists
      become: true
      lineinfile:
        path: '/etc/apt/sources.list.d/yarn.list'
        regexp: 'deb https://dl.yarnpkg.com/debian/ stable main'
        line: 'deb https://dl.yarnpkg.com/debian/ stable main'
        create: yes

    - name: Install Yarn package manager
      become: true
      apt:
        name: yarn
        state: latest
        update_cache: yes

  post_tasks:
    - name: Upgrade installed packages
      become: true
      apt:
        upgrade: safe

  handlers:
    - name: Restart PHP-FPM
      become: true
      service:
        name: php7.1-fpm
        state: restarted
